openapi: 3.2.0
info:
  title: AdRoll Ad API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Ad
paths:
  /api/v1/ad/clone:
    post:
      summary: Create clone
      tags:
      - Ad
      operationId: post_api_v1_ad_clone
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11810
      x-source-context: '- [`POST /api/v1/ad/clone`](#post--api-v1-ad-clone)'
  /api/v1/ad/edit:
    put:
      summary: Update edit
      tags:
      - Ad
      operationId: put_api_v1_ad_edit
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11813
      x-source-context: '- [`PUT /api/v1/ad/edit`](#put--api-v1-ad-edit)'
  /api/v1/ad/get:
    get:
      summary: Retrieve get
      tags:
      - Ad
      operationId: get_api_v1_ad_get
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11814
      x-source-context: '- [`GET /api/v1/ad/get`](#get--api-v1-ad-get)'
