openapi: 3.2.0
info:
  title: AdRoll URL API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: URL
paths:
  /api/v1/rule/create:
    post:
      summary: Create create
      tags:
      - URL
      operationId: post_api_v1_rule_create
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L1153
      x-source-context: To create a URL Audience, you’ll need to create a rule on the Pixel. To create a rule on a Pixel, you call [`POST /api/v1/rule/create`](../crud-api/reference.md
  /api/v1/advertisable/get_pixel:
    get:
      summary: Retrieve get pixel
      tags:
      - URL
      operationId: get_api_v1_advertisable_get_pixel
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L1156
      x-source-context: ': Pixel EID to create the rule on. You can retrieve the Pixel EID by calling [`GET /api/v1/advertisable/get_pixel`](../crud-api/reference.md#get--api-v1-adverti'
