openapi: 3.2.0
info:
  title: AdRoll Advertisables API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Advertisables
paths:
  /prospecting/api/v2/advertisables/:
    get:
      summary: Retrieve advertisables
      tags:
      - Advertisables
      operationId: get_prospecting_api_v2_advertisables
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L17973
      x-source-context: '- [`GET /prospecting/api/v2/advertisables/(adv)/campaigns`](#get--prospecting-api-v2-advertisables-(adv)-campaigns)'
    patch:
      summary: Update advertisables
      tags:
      - Advertisables
      operationId: patch_prospecting_api_v2_advertisables
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L17975
      x-source-context: '- [`PATCH /prospecting/api/v2/advertisables/(adv)/campaigns`](#patch--prospecting-api-v2-advertisables-(adv)-campaigns)'
  /prospecting/api/v2/attribute_names/:
    get:
      summary: Retrieve attribute names
      tags:
      - Advertisables
      operationId: get_prospecting_api_v2_attribute_names
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L17978
      x-source-context: '- [`GET /prospecting/api/v2/attribute_names/(adv)`](#get--prospecting-api-v2-attribute_names-(adv))'
