openapi: 3.2.0
info:
  title: AdRoll Marketplace Deals API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Marketplace Deals
paths:
  /api/v1/marketplace_deals/get:
    get:
      summary: Retrieve get
      tags:
      - Marketplace Deals
      operationId: get_api_v1_marketplace_deals_get
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11902
      x-source-context: '- [`GET /api/v1/marketplace_deals/get`](#get--api-v1-marketplace_deals-get)'
  /api/v1/marketplace_deals/metadata:
    get:
      summary: Retrieve metadata
      tags:
      - Marketplace Deals
      operationId: get_api_v1_marketplace_deals_metadata
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11903
      x-source-context: '- [`GET /api/v1/marketplace_deals/metadata`](#get--api-v1-marketplace_deals-metadata)'
