openapi: 3.2.0
info:
  title: AdRoll Verify product feed set up API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Verify product feed set up
paths:
  /api/v1/product_feeds/feed_status:
    get:
      summary: Retrieve feed status
      tags:
      - Verify product feed set up
      operationId: get_api_v1_product_feeds_feed_status
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L6424
      x-source-context: '[`GET /api/v1/product_feeds/feed_status`](../crud-api/reference.md#get--api-v1-product_feeds-feed_status)'
  /api/v1/product_feeds/match_rate:
    get:
      summary: Retrieve match rate
      tags:
      - Verify product feed set up
      operationId: get_api_v1_product_feeds_match_rate
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L6427
      x-source-context: '[`GET /api/v1/product_feeds/match_rate`](../crud-api/reference.md#get--api-v1-product_feeds-match_rate)'
  /api/v1/product_feeds/feed_downloadable:
    get:
      summary: Retrieve feed downloadable
      tags:
      - Verify product feed set up
      operationId: get_api_v1_product_feeds_feed_downloadable
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L6430
      x-source-context: '[`GET /api/v1/product_feeds/feed_downloadable`](../crud-api/reference.md#get--api-v1-product_feeds-feed_downloadable)'
  /api/v1/product_feeds/parse_preview:
    get:
      summary: Retrieve parse preview
      tags:
      - Verify product feed set up
      operationId: get_api_v1_product_feeds_parse_preview
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L6433
      x-source-context: '[`GET /api/v1/product_feeds/parse_preview`](../crud-api/reference.md#get--api-v1-product_feeds-parse_preview)'
