openapi: 3.2.0
info:
  title: AdRoll Segment API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Segment
paths:
  /api/v1/segment/edit:
    post:
      summary: Create edit
      tags:
      - Segment
      operationId: post_api_v1_segment_edit
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11956
      x-source-context: '- [`POST /api/v1/segment/edit`](#post--api-v1-segment-edit)'
  /api/v1/segment/get:
    get:
      summary: Retrieve get
      tags:
      - Segment
      operationId: get_api_v1_segment_get
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11957
      x-source-context: '- [`GET /api/v1/segment/get`](#get--api-v1-segment-get)'
