openapi: 3.2.0
info:
  title: AdRoll Organization API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Organization
paths:
  /api/v1/organization/get_accounts:
    get:
      summary: Retrieve get accounts
      tags:
      - Organization
      operationId: get_api_v1_organization_get_accounts
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11908
      x-source-context: '- [`GET /api/v1/organization/get_accounts`](#get--api-v1-organization-get_accounts)'
  /api/v1/organization/get_advertisables_paginated:
    get:
      summary: Retrieve get advertisables paginated
      tags:
      - Organization
      operationId: get_api_v1_organization_get_advertisables_paginated
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11910
      x-source-context: '- [`GET /api/v1/organization/get_advertisables_paginated`](#get--api-v1-organization-get_advertisables_paginated)'
  /api/v1/organization/get_billing_methods:
    get:
      summary: Retrieve get billing methods
      tags:
      - Organization
      operationId: get_api_v1_organization_get_billing_methods
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11911
      x-source-context: '- [`GET /api/v1/organization/get_billing_methods`](#get--api-v1-organization-get_billing_methods)'
  /api/v1/organization/get_users:
    get:
      summary: Retrieve get users
      tags:
      - Organization
      operationId: get_api_v1_organization_get_users
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11912
      x-source-context: '- [`GET /api/v1/organization/get_users`](#get--api-v1-organization-get_users)'
