openapi: 3.2.0
info:
  title: AdRoll Pixel API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Pixel
paths:
  /api/v1/pixel/get:
    get:
      summary: Retrieve get
      tags:
      - Pixel
      operationId: get_api_v1_pixel_get
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11916
      x-source-context: '- [`GET /api/v1/pixel/get`](#get--api-v1-pixel-get)'
  /api/v1/pixel/get_rules:
    get:
      summary: Retrieve get rules
      tags:
      - Pixel
      operationId: get_api_v1_pixel_get_rules
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11917
      x-source-context: '- [`GET /api/v1/pixel/get_rules`](#get--api-v1-pixel-get_rules)'
  /api/v1/pixel/get_segments:
    get:
      summary: Retrieve get segments
      tags:
      - Pixel
      operationId: get_api_v1_pixel_get_segments
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11918
      x-source-context: '- [`GET /api/v1/pixel/get_segments`](#get--api-v1-pixel-get_segments)'
