openapi: 3.2.0
info:
  title: AdRoll Flights API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Flights
paths:
  /prospecting/api/v2/flights/:
    put:
      summary: Update flights
      tags:
      - Flights
      operationId: put_prospecting_api_v2_flights
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L17997
      x-source-context: '- [`PUT /prospecting/api/v2/flights/(flight)`](#put--prospecting-api-v2-flights-(flight))'
    delete:
      summary: Delete flights
      tags:
      - Flights
      operationId: delete_prospecting_api_v2_flights
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L17998
      x-source-context: '- [`DELETE /prospecting/api/v2/flights/(flight)`](#delete--prospecting-api-v2-flights-(flight))'
