openapi: 3.2.0
info:
  title: AdRoll Contextual Categories API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Contextual Categories
paths:
  /api/v1/contextual_categories/get_all_contextual_categories:
    get:
      summary: Retrieve get all contextual categories
      tags:
      - Contextual Categories
      operationId: get_api_v1_contextual_categories_get_all_contextual_categori
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11871
      x-source-context: '- [`GET /api/v1/contextual_categories/get_all_contextual_categories`](#get--api-v1-contextual_categories-get_all_contextual_categories)'
