openapi: 3.2.0
info:
  title: AdRoll Report API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Report
paths:
  /api/v1/report/ad:
    get:
      summary: Retrieve ad
      tags:
      - Report
      operationId: get_api_v1_report_ad
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11944
      x-source-context: '- [`GET /api/v1/report/ad`](#get--api-v1-report-ad)'
  /api/v1/report/advertisable:
    get:
      summary: Retrieve advertisable
      tags:
      - Report
      operationId: get_api_v1_report_advertisable
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11945
      x-source-context: '- [`GET /api/v1/report/advertisable`](#get--api-v1-report-advertisable)'
  /api/v1/report/campaign:
    get:
      summary: Retrieve campaign
      tags:
      - Report
      operationId: get_api_v1_report_campaign
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L11946
      x-source-context: '- [`GET /api/v1/report/campaign`](#get--api-v1-report-campaign)'
