openapi: 3.2.0
info:
  title: AdRoll Retrieve List of Dynamic Web Templates API
  version: derived-2026-08-10
  description: Derived from AdRoll's published documentation. Every operation in this document corresponds to a literal HTTP method and path found in that documentation; nothing is inferred. Request and response schemas are NOT described -- only the operations that are demonstrably documented.
  x-provenance: derived-from-documentation
  x-source-documentation: https://apidocs.nextroll.com/llms-full.txt
  x-documentation-url: https://apidocs.nextroll.com
  x-derived: '2026-08-10'
  x-derivation-method: literal METHOD+path extraction from provider documentation; no pattern completion, no inferred operations
  x-not-a-provider-contract: This is API Evangelist's reading of the documentation, not a contract published or endorsed by the provider.
servers:
- url: https://services.adroll.com/api/v1
tags:
- name: Retrieve List of Dynamic Web Templates
paths:
  /api/v1/dynamic_template/get_all_for_advertisable:
    get:
      summary: Retrieve get all for advertisable
      tags:
      - Retrieve List of Dynamic Web Templates
      operationId: get_api_v1_dynamic_template_get_all_for_advertisable
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L1847
      x-source-context: Call [`GET /api/v1/dynamic_template/get_all_for_advertisable`](../crud-api/reference.md#get--api-v1-dynamic_template-get_all_for_advertisable) to retrieve the l
  /api/v1/ad/create_templated_web_ads:
    post:
      summary: Create create templated web ads
      tags:
      - Retrieve List of Dynamic Web Templates
      operationId: post_api_v1_ad_create_templated_web_ads
      responses:
        '200':
          description: Successful response
      x-source-documentation: https://apidocs.nextroll.com/llms-full.txt#L1847
      x-source-context: Call [`GET /api/v1/dynamic_template/get_all_for_advertisable`](../crud-api/reference.md#get--api-v1-dynamic_template-get_all_for_advertisable) to retrieve the l
